<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark text-white px-5">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="/home">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Registrarse</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link"><strong>¡Inicia sesión o registrate para comenzar!</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>